node_modules/
package-lock.json
pnpm-lock.yaml

*.lock
*.map
.libsass.json
.DS_Store
sftp-config.json
.idea
*.html
public/assets/js/script.js
public/assets/js/script.min.js
public/assets/css/*.scss
public/assets/css/style.css
public/assets/css/style.min.css

.firebase
.firebaserc
firebase.json