@use "variables" as *;
@use "mixins" as *;

// this is area is for reserved class
#main-container {
    height: 100%;
    height: auto !important;
    min-height: 100%;
}
#main-wrapper {
}

.ease,
a,
input[type="submit"],
button {
    transition: all 0.5s ease;
}

.mobile-input {
    @include appearance(none);
    border: none;
    border-radius: 0;
    outline: none !important;
    box-shadow: none !important;
    &:focus,
    &:active {
        outline: none !important;
        box-shadow: none !important;
    }
}

// custom paddings and margins
$padding-values: (
    pt: padding-top,
    pr: padding-right,
    pb: padding-bottom,
    pl: padding-left,
);

$margin-values: (
    mt: margin-top,
    mr: margin-right,
    mb: margin-bottom,
    ml: margin-left,
);

@each $direction, $property in $padding-values {
    @for $i from 1 through 5 {
        .custom {
            &\:#{$direction}-#{$i * 10} {
                #{$property}: #{$i * 10}px;
            }
        }
    }
}

@each $direction, $property in $margin-values {
    @for $i from 1 through 5 {
        .custom {
            &\:#{$direction}-#{$i * 10} {
                #{$property}: #{$i * 10}px;
            }
        }
    }
}

$breakpoints: (
    sm: 640px,
    md: 768px,
    lg: 1024px,
    xl: 1280px,
);

@each $breakpoint, $min-width in $breakpoints {
    @media (min-width: #{$min-width}) {
        @for $i from 1 through 5 {
            .#{$breakpoint}\:custom\:pt-#{$i * 10} {
                padding-top: #{$i * 10}px;
            }
            .#{$breakpoint}\:custom\:pr-#{$i * 10} {
                padding-right: #{$i * 10}px;
            }
            .#{$breakpoint}\:custom\:pb-#{$i * 10} {
                padding-bottom: #{$i * 10}px;
            }
            .#{$breakpoint}\:custom\:pl-#{$i * 10} {
                padding-left: #{$i * 10}px;
            }
            .#{$breakpoint}\:custom\:mt-#{$i * 10} {
                margin-top: #{$i * 10}px;
            }
            .#{$breakpoint}\:custom\:mr-#{$i * 10} {
                margin-right: #{$i * 10}px;
            }
            .#{$breakpoint}\:custom\:mb-#{$i * 10} {
                margin-bottom: #{$i * 10}px;
            }
            .#{$breakpoint}\:custom\:ml-#{$i * 10} {
                margin-left: #{$i * 10}px;
            }
        }
    }
}

// for animate
[data-animate] {
    opacity: 0;
    &.visible {
        opacity: 1;
    }
}
.animateFade {
    animation-name: animateFade;
}
@keyframes animateFade {
    0% {
        opacity: 0;
        transform: translate3d(0, 40px, 0);
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

// you can include here the rest of your class name eg. home page
.scrolling-touch {
    overflow: auto;
    overflow-scrolling: touch;
    -webkit-overflow-scrolling: touch;
}

.anthony {
    @include breakpoint(md) {
        font-weight: bold;
    }
}
