 // this is area is for reserved class
#main-container { height:100%; height: auto !important; min-height:100%; }

.ease,a,input[type="submit"],button { transition: all 0.5s ease; }
.auto { max-width: var(--width-1); margin-left: auto; margin-right: auto; }

#main-wrapper { }

.fl { float:left; }
.fr { float:right; }
.clr { display: block; float:none; clear:both; }

.bp-box { @include box-sizing(border-box); }
.bp-rel { position:relative; }
.bp-ab { position:absolute; }

.co-black { color: var(--black); }
.co-white { color: var(--white); }

.bg-black { background-color: var(--black); color: var(--white); }

.bp-img {
  img { max-width: 100%; height: auto; }
  &.wide img { display: block; width: 100%; }
}
.bp-nocurve { @include border-radius(0); }
.bp-curve { @include border-radius(5px); }
.bp-circle { @include border-radius(50%); }

.mobile-input { @include appearance(none); border-radius: 0; }

.no-margin { margin: 0; }
.no-padding { padding: 0; }

.pt10 { padding-top: 10px; }
.pt20 { padding-top: 20px; }
.pt30 { padding-top: 30px; }
.pt40 { padding-top: 40px; }
.pt50 { padding-top: 50px; }

.pb10 { padding-bottom: 10px; }
.pb20 { padding-bottom: 20px; }
.pb30 { padding-bottom: 30px; }
.pb40 { padding-bottom: 40px; }
.pb50 { padding-bottom: 50px; }

.mt10 { margin-top: 10px; }
.mt20 { margin-top: 20px; }
.mt30 { margin-top: 30px; }
.mt40 { margin-top: 40px; }
.mt50 { margin-top: 50px; }

.mb10 { margin-bottom: 10px; }
.mb20 { margin-bottom: 20px; }
.mb30 { margin-bottom: 30px; }
.mb40 { margin-bottom: 40px; }
.mb50 { margin-bottom: 50px; }

@include breakpoint(tablet2) {
	.pt20 { padding-top: 10px; }
	.pt30 { padding-top: 20px; }
	.pt40 { padding-top: 30px; }
	.pt50 { padding-top: 40px; }

	.pb20 { padding-bottom: 10px; }
	.pb30 { padding-bottom: 20px; }
	.pb40 { padding-bottom: 30px; }
	.pb50 { padding-bottom: 40px; }

	.mt20 { margin-top: 10px; }
	.mt30 { margin-top: 20px; }
	.mt40 { margin-top: 30px; }
	.mt50 { margin-top: 40px; }

	.mb20 { margin-bottom: 10px; }
	.mb30 { margin-bottom: 20px; }
	.mb40 { margin-bottom: 30px; }
	.mb50 { margin-bottom: 40px; }

	.mob-pt0 { padding-top: 0; }
	.mob-pt10 { padding-top: 10px; }
	.mob-pt20 { padding-top: 20px; }
	.mob-pt30 { padding-top: 30px; }
	.mob-pt40 { padding-top: 40px; }
	.mob-pt50 { padding-top: 50px; }

	.mob-pb0 { padding-bottom: 0; }
	.mob-pb10 { padding-bottom: 10px; }
	.mob-pb20 { padding-bottom: 20px; }
	.mob-pb30 { padding-bottom: 30px; }
	.mob-pb40 { padding-bottom: 40px; }
	.mob-pb50 { padding-bottom: 50px; }

	.mob-mt0 { margin-top: 0; }
	.mob-mt10 { margin-top: 10px; }
	.mob-mt20 { margin-top: 20px; }
	.mob-mt30 { margin-top: 30px; }
	.mob-mt40 { margin-top: 40px; }
	.mob-mt50 { margin-top: 50px; }

	.mob-mb0 { margin-bottom: 0; }
	.mob-mb10 { margin-bottom: 10px; }
	.mob-mb20 { margin-bottom: 20px; }
	.mob-mb30 { margin-bottom: 30px; }
	.mob-mb40 { margin-bottom: 40px; }
	.mob-mb50 { margin-bottom: 50px; }
}

/** for inview animation **/
.animate, .anim-content, .anim-custom, [class*="animate-child"] { opacity: 0; }
.anim-content.visible { animation-name: animRun; }
.anim-content.visible, .anim-custom.visible { animation-duration: 0.8s; animation-fill-mode: forwards; }
@keyframes animRun {
	0% { opacity: 0; transform: translate3d(0,40px,0); }
	100% { opacity: 1; transform: translate3d(0,0,0); }
}

// you can include here the rest of your class name eg. home page
.scrolling-touch { overflow: auto; overflow-scrolling: touch; -webkit-overflow-scrolling: touch; }
.no-wrap { white-space: nowrap; }
.break-all { word-break: break-all; }

.container { padding-left: 0; padding-right: 0;
	@include breakpoint(lg) { max-width: var(--width-1); }
}

// for rows
.row {
	@include breakpoint(lg) {
		&.row-medium { margin-left: -20px; margin-right: -20px;
			> [class*="col"] { padding-left: 20px; padding-right: 20px; }
		}
	}

	@media (min-width: 1260px) {
		&.row-large { margin-left: -42px; margin-right: -42px;
			> [class*="col"] { padding-left: 42px; padding-right: 42px; }
		}
	}

	&.row-small { margin-left: -10px; margin-right: -10px;
		> [class*="col"] { padding-left: 10px; padding-right: 10px; }
	}

	> [class*="col-"] {
		&:last-child { margin-bottom: 0 !important; }
	}
}