// include all templated CSS properties here such as font sizes, margin, padding, color, background color, etc

:root {
    --width-1: 1024px;

    --font-default: "Arial", "Helvetica", "Calibri";

    --color-default: #000000;
    --link: #3189dd;

    --white: #ffffff;
    --black: #000000;

    --animate-delay: 0.1s;
    --animate-duration: 0.8s;
    --animate-repeat: 1;
}
