{% set pageTitle = 'PageName | ProjectName' %} {% extends 'layout.njk' %} {% block content %}
<div class="px-5 py-24">
    <div class="container mx-auto">
        <div class="mb-3">
            <h1>
                <a
                    class="text-inherit hover:text-sky-500"
                    href="https://tailwindcss.com/docs/grid-template-columns"
                    target="_blank"
                >
                    Grids
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        class="inline w-5 h-5"
                    >
                        <path
                            fill-rule="evenodd"
                            d="M4.25 5.5a.75.75 0 0 0-.75.75v8.5c0 .414.336.75.75.75h8.5a.75.75 0 0 0 .75-.75v-4a.75.75 0 0 1 1.5 0v4A2.25 2.25 0 0 1 12.75 17h-8.5A2.25 2.25 0 0 1 2 14.75v-8.5A2.25 2.25 0 0 1 4.25 4h5a.75.75 0 0 1 0 1.5h-5Z"
                            clip-rule="evenodd"
                        />
                        <path
                            fill-rule="evenodd"
                            d="M6.194 12.753a.75.75 0 0 0 1.06.053L16.5 4.44v2.81a.75.75 0 0 0 1.5 0v-4.5a.75.75 0 0 0-.75-.75h-4.5a.75.75 0 0 0 0 1.5h2.553l-9.056 8.194a.75.75 0 0 0-.053 1.06Z"
                            clip-rule="evenodd"
                        />
                    </svg>
                </a>
            </h1>
        </div>
        <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
            <div class="border border-dashed border-slate-600 p-4">Column 1</div>
            <div class="border border-dashed border-slate-600 p-4">Column 2</div>
            <div
                class="col-span-2 md:col-span-1 border border-dashed border-slate-600 p-4 flex items-center"
            >
                <div>
                    Column 3
                    <br />
                    <small class="block md:hidden text-green-900"><code>2 col span</code></small>
                </div>
            </div>
            <div class="col-span-2 border border-dashed border-slate-600 p-4 flex items-center">
                <div>
                    Column 4
                    <br />
                    <small class="text-green-900"><code>2 col span</code></small>
                </div>
            </div>
            <div
                class="col-span-2 md:col-span-1 border border-dashed border-slate-600 p-4 flex items-center"
            >
                <div>
                    Column 5
                    <br />
                    <small class="bock md:hidden text-green-900"><code>2 col span</code></small>
                </div>
            </div>
            <div
                class="row-span-3 md:row-span-2 border border-dashed border-slate-600 p-4 flex items-center"
            >
                <div>
                    Column 6
                    <br />
                    <small class="block md:hidden text-green-900"><code>3 row span</code></small>
                    <small class="hidden md:block text-green-900"><code>2 row span</code></small>
                </div>
            </div>
            <div class="border border-dashed border-slate-600 p-4">Column 7</div>
            <div class="border border-dashed border-slate-600 p-4">Column 8</div>
            <div
                class="col-span-1 md:col-span-2 border border-dashed border-slate-600 p-4 flex items-center"
            >
                <div>
                    Column 9
                    <br />
                    <small class="block md:hidden text-green-900"><code>1 col span</code></small>
                    <small class="hidden md:block text-green-900"><code>2 col span</code></small>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="px-5 py-24 bg-slate-50">
    <div class="container mx-auto">
        <div class="mb-3">
            <h1>
                <a
                    class="text-inherit hover:text-sky-500"
                    href="https://tailwindcss.com/docs/flex-basis"
                    target="_blank"
                >
                    Flex
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        class="inline w-5 h-5"
                    >
                        <path
                            fill-rule="evenodd"
                            d="M4.25 5.5a.75.75 0 0 0-.75.75v8.5c0 .414.336.75.75.75h8.5a.75.75 0 0 0 .75-.75v-4a.75.75 0 0 1 1.5 0v4A2.25 2.25 0 0 1 12.75 17h-8.5A2.25 2.25 0 0 1 2 14.75v-8.5A2.25 2.25 0 0 1 4.25 4h5a.75.75 0 0 1 0 1.5h-5Z"
                            clip-rule="evenodd"
                        />
                        <path
                            fill-rule="evenodd"
                            d="M6.194 12.753a.75.75 0 0 0 1.06.053L16.5 4.44v2.81a.75.75 0 0 0 1.5 0v-4.5a.75.75 0 0 0-.75-.75h-4.5a.75.75 0 0 0 0 1.5h2.553l-9.056 8.194a.75.75 0 0 0-.053 1.06Z"
                            clip-rule="evenodd"
                        />
                    </svg>
                </a>
            </h1>
        </div>
        <div class="flex flex-col gap-4">
            <div class="flex flex-row hover:flex-col gap-4">
                <div class="basis-1/4 border border-dashed border-slate-600 p-4">Column 1</div>
                <div class="basis-1/4 border border-dashed border-slate-600 p-4">Column 2</div>
                <div class="basis-1/2 border border-dashed border-slate-600 p-4">Column 3</div>
            </div>
            <div class="flex gap-4">
                <div class="w-2/4 border border-dashed border-slate-600 p-4 box-border">
                    Column 4
                </div>
                <div class="w-1/4 border border-dashed border-slate-600 p-4">Column 5</div>
                <div class="row-span-2 w-1/4 border border-dashed border-slate-600 p-4">
                    Column 6
                </div>
            </div>
        </div>
    </div>
</div>
<div id="animate" class="px-5 py-24 bg-slate-50" data-animate>
    <div class="container mx-auto" data-animate="parent">
        <div data-animate="children">
            <h1 class="js-splittext mb-3 text-7xl">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit
            </h1>
            <div class="flex flex-col gap-4" data-animate="children">
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut, blanditiis fuga!
                    Quod, recusandae optio cupiditate laborum aspernatur facilis expedita pariatur
                    nulla obcaecati, reiciendis quas, perferendis consequuntur laboriosam. Quis, vel
                    exercitationem?
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro eaque inventore
                    sit nostrum suscipit neque hic minima iusto! Rerum quisquam provident quibusdam
                    quis sint minus, amet id! Ducimus, voluptatibus dolorum.
                </p>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam quia illum
                    nostrum cum nihil doloribus, quaerat amet repellendus provident doloremque
                    possimus molestias rem dolorum nesciunt quam facere harum nulla deleniti!
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, dignissimos
                    excepturi? Quo quas distinctio vero, tempore atque aliquam, non excepturi
                    voluptas adipisci quae expedita obcaecati totam quibusdam, at molestiae
                    recusandae!
                </p>
            </div>
            <div>
                <div class="flex flex-col gap-4" data-animate="child">
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti maxime
                        aut iure aperiam dicta recusandae totam, quis saepe officiis, voluptates
                        porro, repudiandae illum! Eos ipsam ullam a laborum inventore aliquam.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
                        cupiditate, aut quis alias qui atque enim! Rerum culpa corrupti, voluptatum,
                        nostrum explicabo ducimus eligendi quo soluta, ea facere delectus veniam.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container mx-auto mt-4">
        <div>
            <div data-animate="fadeInDown,2,0.8">fadeInDown</div>
        </div>
    </div>
</div>
<div id="content1" class="px-5 py-24">
    <div class="container mx-auto">
        <div class="mb-3">
            <h1>Autoscroll</h1>
        </div>
        <div class="section-par">
            <p><a data-auto-scroll href="#animate">Autoscroll to previous content</a></p>
            <p><a data-auto-scroll href="#group-height">Autoscroll to next content</a></p>
        </div>
    </div>
</div>
<div id="group-height" class="px-5 py-24 bg-slate-50">
    <div class="container mx-auto">
        <div class="mb-3">
            <h1>Group Height</h1>
        </div>
        <div class="grid grid-cols-2 md:grid-cols-3 gap-4 items-start" data-group-height>
            <div class="outline-dashed p-4" gh-item="1,768">
                <p>Column 1</p>
                <p>
                    <small class="text-green-900"><code>Will have min-height >=768px</code></small>
                </p>
            </div>
            <div class="outline-dashed p-4" gh-item="1">
                <p>Column 2</p>
            </div>
            <div class="outline-dashed p-4" gh-item="1,768">
                <p>Column 3</p>
            </div>
            <div class="outline-dashed p-4" gh-item="2">
                <p>Column 4</p>
            </div>
            <div class="outline-dashed p-4" gh-item="2,768">
                <p>Column 5</p>
            </div>
            <div class="outline-dashed p-4" class="col-4" gh-item="2">
                <p>Column 6</p>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta adipisci vel
                    unde assumenda, sunt quasi magnam laboriosam deserunt molestiae quam
                    consequatur, quas labore possimus! Labore consequatur unde accusamus veniam
                    facere.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block footerscript %}
<script>
    // these scripts are being used externally, but they should be included in the main script

    // once main scrip is ready
    projName.on("ready", () => {
        console.log("ready");

        // for entrance animation
        _animate.init();
    });

    // for resize
    projName.on("resize", (status) => {
        console.log("resize", status);
    });
</script>
{% endblock %}
