{% macro dynamicElement(tag, attrs, extraAttrs) %}
    {%- set attrString = "" -%}
    {%- for key, value in attrs -%}
        {%- if value -%}
            {%- set attrString = attrString + " " + key + '="' + value + '"' -%}
        {%- endif -%}
    {%- endfor -%}
    {%- set openTag = "<" + tag + attrString + extraAttrs + ">" -%}
    {%- set closeTag = "</" + tag + ">" -%}
    {{ openTag | safe }}{{ caller() }}{{ closeTag | safe }}
{% endmacro %}