{% set pageTitle = 'Animate | Components' %}

{% extends 'layout.njk' %}

{% block content %}
<section class="section py-14 md:py-28 bg-slate-950 text-white">
    <div class="container w-[calc(100%-2rem)] mx-auto">
        <h1 class="text-5xl md:text-7xl">Animate</h1>
    </div>
</section>
<section class="section flex flex-col gap-10 py-14 md:py-28" data-animate>
    <div class="container w-[calc(100%-2rem)] mx-auto" data-animate="parent">
        <div class="flex flex-col gap-10" data-animate="children">
            <div class="flex flex-col gap-4" data-animate="children">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo culpa facere, harum quis reiciendis quisquam aliquam illum neque aperiam cumque magnam sapiente, ea assumenda numquam saepe adipisci possimus earum quidem?</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur recusandae explicabo consequuntur, fuga esse totam labore, repudiandae dolores saepe, possimus ipsam itaque facere odio ratione perferendis eum cupiditate iste ex?</p>
            </div>
            <h1 class="js-splittext text-4xl md:text-7xl md:leading-[1.2]">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit
            </h1>
            <div class="flex flex-col gap-4" data-animate="children">
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut, blanditiis fuga!
                    Quod, recusandae optio cupiditate laborum aspernatur facilis expedita pariatur
                    nulla obcaecati, reiciendis quas, perferendis consequuntur laboriosam. Quis, vel
                    exercitationem?
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro eaque inventore
                    sit nostrum suscipit neque hic minima iusto! Rerum quisquam provident quibusdam
                    quis sint minus, amet id! Ducimus, voluptatibus dolorum.
                </p>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam quia illum
                    nostrum cum nihil doloribus, quaerat amet repellendus provident doloremque
                    possimus molestias rem dolorum nesciunt quam facere harum nulla deleniti!
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, dignissimos
                    excepturi? Quo quas distinctio vero, tempore atque aliquam, non excepturi
                    voluptas adipisci quae expedita obcaecati totam quibusdam, at molestiae
                    recusandae!
                </p>
            </div>
            <div class="max-w-[30rem]" data-animate-class="rollIn">
                <div class="flex flex-col gap-4">
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti maxime
                        aut iure aperiam dicta recusandae totam, quis saepe officiis, voluptates
                        porro, repudiandae illum! Eos ipsam ullam a laborum inventore aliquam.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
                        cupiditate, aut quis alias qui atque enim! Rerum culpa corrupti, voluptatum,
                        nostrum explicabo ducimus eligendi quo soluta, ea facere delectus veniam.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container w-[calc(100%-2rem)] mx-auto">
        <div>
            <div data-animate="fadeInDown,2,0.8">fadeInDown</div>
        </div>
    </div>
</section>
{% endblock %}

{% block footerscript %}
<script>
    // Requirements
        // JS
            // /assets/js/utils/_inview.js
            // /assets/js/utils/_animate.js
            // /assets/js/utils/_splitText.js (optional)
            // /assets/js/lib/splittype.min.js (optional)
        // CSS
            // /assets/scss/_animate.min.scss
            // /assets/scss/_data-animate.scss

    projName.on('ready', () => {
        new _animate({
            debug: true, // keeps inline animation styles on elements (for debugging)
            delay: 0.1,
            adjacentDelay: 0.2,
            duration: 0.8,
            keyframe: 'fadeInUpSmall'
        });
    });
</script>
{% endblock %}