{% set pageTitle = 'Countdown timer | Components' %}

{% extends 'layout.njk' %}

{% block content %}
<section class="section py-14 md:py-28 bg-slate-950 text-white">
    <div class="container w-[calc(100%-2rem)] mx-auto">
        <h1 class="text-5xl md:text-7xl">Countdown timer</h1>
    </div>
</section>
<section class="section flex flex-col gap-10 py-14 md:py-28">
    <div class="container w-[calc(100%-2rem)] mx-auto">
        <div class="flex flex-col gap-16">
            <div class="flex flex-col gap-2 text-center">
                <p>You can change the target date & time</p>
                <div><input class="js-datetime-picker min-w-[15rem] py-2 px-3 border border-gray-500 rounded" type="text" name="" value="" placeholder="Please select date & time"></div>
            </div>
            <div class="js-countdown-timer flex flex-col gap-2 text-center">
                <p class="text-2xl">Countdown continues till <strong class="js-countdown-timer-label">--</strong>.</p>
                <div class="flex gap-8 md:gap-11 justify-center md:text-xl text-center">
                    <div class="flex flex-col gap-1">
                        <div class="js-countdown-timer-days font-bold text-6xl md:text-8xl">00</div>
                        <div>days</div>
                    </div>
                    <div class="flex flex-col gap-1">
                        <div class="js-countdown-timer-hours font-bold text-6xl md:text-8xl">00</div>
                        <div>hours</div>
                    </div>
                    <div class="flex flex-col gap-1">
                        <div class="js-countdown-timer-minutes font-bold text-6xl md:text-8xl">00</div>
                        <div>minutes</div>
                    </div>
                    <div class="flex flex-col gap-1">
                        <div class="js-countdown-timer-seconds font-bold text-6xl md:text-8xl">00</div>
                        <div>seconds</div>
                    </div>
                </div>
            </div>
            <div class="js-countdown-timer flex flex-col gap-2 text-center">
                <p class="text-2xl">Countdown continues till <strong class="js-countdown-timer-label">--</strong>.</p>
                <div class="flex gap-8 md:gap-11 justify-center md:text-xl text-center">
                    <div class="flex flex-col gap-1">
                        <div class="js-countdown-timer-days font-bold text-6xl md:text-8xl">00</div>
                        <div>days</div>
                    </div>
                    <div class="flex flex-col gap-1">
                        <div class="js-countdown-timer-hours font-bold text-6xl md:text-8xl">00</div>
                        <div>hours</div>
                    </div>
                    <div class="flex flex-col gap-1">
                        <div class="js-countdown-timer-minutes font-bold text-6xl md:text-8xl">00</div>
                        <div>minutes</div>
                    </div>
                    <div class="flex flex-col gap-1">
                        <div class="js-countdown-timer-seconds font-bold text-6xl md:text-8xl">00</div>
                        <div>seconds</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block footerscript %}
<script>
    // Requirements
        // JS
            // /assets/js/lib/flatpickr.js (optional)
            // /assets/js/lib/luxon.min.js
            // /assets/js/utils/_countdown-timer.js
            // /assets/js/utils/_rolling-number.js
        // CSS
            // /assets/scss/_flatpickr.min.scss (optional)

    const _timeZone = 'Asia/Manila';
    const _currentDateTime = DateTime.now().setZone(_timeZone); // get current date & time
    const _minDateTime = _currentDateTime.plus({minutes: 2}).set({second: 0}); // set minimum date to select

    const _dateTimePicker = document.querySelector('.js-datetime-picker'); // date & time picker

    const _countdowns = []; // instances
    const _updateCountdown = (dateTime) => {
        _countdowns.forEach((item) => item.destroy()); // destroy current instances

        document.querySelectorAll('.js-countdown-timer').forEach((item, index) => {
            const _item = item;
            const _label = {
                dateTime: _item.querySelector('.js-countdown-timer-label'),
                days: _item.querySelector('.js-countdown-timer-days'),
                hours: _item.querySelector('.js-countdown-timer-hours'),
                minutes: _item.querySelector('.js-countdown-timer-minutes'),
                seconds: _item.querySelector('.js-countdown-timer-seconds')
            }

            // create new instance
            const _countdown = new _countdownTimer({
                dateTime: dateTime,
                timeZone: _timeZone,
                events: {
                    beforeInit: (instance) => {
                        _label.dateTime.parentNode.style.display = 'block';
                        _label.dateTime.innerHTML = instance.dateTime.target.toFormat("MMMM d, yyyy hh:mm a");
                    },
                    update: (instance) => {
                        _label.days.innerHTML = String(instance.dateTime.diff.days).padStart(2, '0');
                        _label.hours.innerHTML = String(instance.dateTime.diff.hours).padStart(2, '0');
                        _label.minutes.innerHTML = String(instance.dateTime.diff.minutes).padStart(2, '0');
                        _label.seconds.innerHTML = String(parseInt(instance.dateTime.diff.seconds)).padStart(2, '0');
                    }
                }
            });

            _countdown.on('end', (instance) => {
                if(!instance.dateTime.ended) return;

                _label.dateTime.parentNode.style.display = 'none';
                _dateTimePicker.parentNode.parentNode.style.display = 'none';
            });

            _countdowns.push(_countdown);
        });
    }
    _updateCountdown(_minDateTime); // first countdown

    // for date & time picker
    flatpickr(_dateTimePicker, {
        enableTime: true,
        dateFormat: 'F j, Y h:i K',
        defaultDate: new Date(_minDateTime),
        minDate: new Date(_minDateTime),
        onClose: (selectedDates) => {
            _updateCountdown(DateTime.fromJSDate(selectedDates[0]).setZone(_timeZone));
        }
    });
</script>
{% endblock %}