{% set pageTitle = 'Components' %}

{% extends 'layout.njk' %}

{% block content %}
<section class="section py-14 md:py-28 bg-slate-950 text-white">
    <div class="container w-[calc(100%-2rem)] mx-auto">
        <h1 class="text-5xl md:text-7xl">Components</h1>
    </div>
</section>
<div class="section py-14 md:py-28">
    <div class="container w-[calc(100%-2rem)] mx-auto">
        <ul>
            <li><a href="{{ rootDir }}components/lightbox.html" target="_blank">Lightbox</a></li>
        </ul>
    </div>
</div>
{#
<div class="section">
    <div class="container mx-auto">
        <div class="mb-3">
            <h1>Dropdown</h1>
        </div>
        <!-- https://inspiramedia.com/anthony/madu/corporate.html -->
        <div class="com_select-box">
            <select name="" id="">
                <option value="" disabled selected>Select option</option>
                <option value="">Option 1</option>
                <option value="">Option 2</option>
                <option value="">Option 3</option>
            </select>
        </div>
    </div>
</div>
<div class="section">
    <div class="container mx-auto">
        <div class="mb-3">
            <h1>Accordion</h1>
        </div>
    </div>
</div>
<div class="section">
    <div class="container mx-auto">
        <div class="mb-3">
            <h1>Hover Indicator</h1>
        </div>
    </div>
</div>
<div class="section">
    <div class="container mx-auto">
        <div class="mb-3">
            <h1>Tabs</h1>
        </div>
    </div>
</div>
<div class="section">
    <div class="container mx-auto">
        <div class="mb-3">
            <h1>Typing animation</h1>
        </div>
        <!-- https://breeze.com.sg/index#download-app -->
    </div>
</div>
#}
{% endblock %}
