{% set pageTitle = 'Components' %}

{% extends 'layout.njk' %}

{% block content %}
<section class="section py-14 md:py-28 bg-slate-950 text-white">
    <div class="container w-[calc(100%-2rem)] mx-auto">
        <h1 class="text-5xl md:text-7xl">Components</h1>
    </div>
</section>
<div class="section py-14 md:py-28">
    <div class="container w-[calc(100%-2rem)] mx-auto">
        {%
            set components = [
                {
                    url: rootDir + 'components/animate.html',
                    label: 'Animate'
                },
                {
                    url: rootDir + 'components/animated-number.html',
                    label: 'Animated number'
                },
                {
                    url: rootDir + 'components/rolling-number.html',
                    label: 'Rolling number'
                },
                {
                    url: rootDir + 'components/group-height.html',
                    label: 'Group height'
                },
                {
                    url: rootDir + 'components/tabs.html',
                    label: 'Tabs'
                },
                {
                    url: rootDir + 'components/typing-animation.html',
                    label: 'Typing animation'
                },
                {
                    url: rootDir + 'components/lightbox.html',
                    label: 'Lightbox'
                },
                {
                    url: rootDir + 'components/countdown-timer.html',
                    label: 'Countdown timer'
                },
                {
                    url: rootDir + 'components/youtube-player.html',
                    label: 'Youtube player'
                },
                {
                    url: rootDir + 'components/video-player.html',
                    label: 'Video player'
                },
                {
                    url: rootDir + 'components/sliders',
                    label: 'Sliders'
                }
            ]
        %}
        <ul class="grid grid-cols-2 md:grid-cols-4 gap-3">
            {% for component in components %}
                <li><a class="block" href="{{ component.url }}" target="_blank">{{ component.label }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
