{% set pageTitle = 'Popup | Components' %}

{% extends 'layout.njk' %}

{% block content %}
<section class="section py-14 md:py-28 bg-slate-950 text-white">
    <div class="container w-[calc(100%-2rem)] mx-auto">
        <h1 class="text-5xl md:text-7xl">Lightbox</h1>
    </div>
</section>
<div class="section py-14 md:py-28">
    <div class="container w-[calc(100%-2rem)] mx-auto">
        <div class="flex gap-3">
            <a class="block py-2 px-4 bg-green-600 hover:bg-green-700 text-white" data-lightbox href="#sample-popup">Open a popup</a>
            <a class="block py-2 px-4 bg-green-600 hover:bg-green-700 text-white" data-lightbox href="#">Open a neutral popup</a>
        </div>
        <div class="hidden mt-10">
            <div id="sample-popup" class="popup-content container mx-auto">
                <div class="section-par">
                    <h2>Popup Usage Guide</h2>
                    <br />
                    <p>Opening a Popup:</p>
                    <ul class="list-disc list-inside">
                        <li>
                            Open a
                            <a class="link-underline" data-lightbox="modal" href="#sample-modal">new popup</a>
                            without closing the current one.
                        </li>
                        <li>
                            Click <a class="link-underline" data-lightbox href="#sample-popup2">this link</a> to open
                            a new popup.
                        </li>
                        <li>
                            Trigger a new popup through the script:
                            <code class="text-pink-500">new projName.popup.open({target: '#sample-popup2'});</code>
                        </li>
                    </ul>
                    <br />
                    <p>Closing a Popup:</p>
                    <ul class="list-disc list-inside">
                        <li>Press the <code class="text-pink-500">Escape</code> key.</li>
                        <li>Click the <code class="text-pink-500">X</code> at the top-right corner of the page.</li>
                        <li>
                            Use the script: <code class="text-pink-500">projName.popup.close();</code> or
                            <code class="text-pink-500">.close('all');</code>.
                        </li>
                        <li>
                            Click this
                            <a class="link-underline" onclick="projName.popup.close();event.preventDefault();" href="#"
                                >link</a
                            >.
                        </li>
                    </ul>
                    <div class="mt-10 mb-0">
                        <div class="text-center">
                            <a
                                class="btn btn-outline min-w-32 rounded-full"
                                onclick="projName.popup.close();event.preventDefault();"
                                href="#"
                                >Close</a
                            >
                        </div>
                    </div>
                </div>
            </div>
            <div id="sample-modal" class="popup-content container mx-auto">
                <div class="section-par text-center">
                    <p>
                        This is a sample modal or small popup. With this, the previous popup won't close, but you have
                        the option to
                        <a class="link-underline" onclick="projName.popup.close();event.preventDefault();" href="#"
                            >close just this one</a
                        >
                        or
                        <a class="link-underline" onclick="projName.popup.close('all');event.preventDefault();" href="#"
                            >all opened popups</a
                        >.
                    </p>
                    <div class="flex gap-4 justify-center mt-10">
                        <div>
                            <a
                                class="btn btn-outline min-w-32 rounded-full"
                                onclick="projName.popup.close();event.preventDefault();"
                                href="#"
                                >Close this modal</a
                            >
                        </div>
                        <div>
                            <a
                                class="btn btn-outline min-w-32 rounded-full"
                                onclick="projName.popup.close('all');event.preventDefault();"
                                href="#"
                                >Close all popups</a
                            >
                        </div>
                        <div>
                            <a class="btn btn-outline min-w-32 rounded-full" data-lightbox href="#sample-popup2"
                                >Close all of the popups and open a new one</a
                            >
                        </div>
                    </div>
                </div>
            </div>
            <div id="sample-popup2" class="popup-content container mx-auto">
                <div class="section-par text-center">
                    <h2>
                        This is the second sample popup. Alternatively, you may want to open
                        <a class="link-underline" data-lightbox href="#sample-popup3">another popup</a> with very
                        long content.
                    </h2>
                    <div class="mt-10 mb-0">
                        <div class="text-center">
                            <a
                                class="btn btn-outline min-w-32 rounded-full"
                                onclick="projName.popup.close();event.preventDefault();"
                                href="#"
                                >Close</a
                            >
                        </div>
                    </div>
                </div>
            </div>
            <div id="sample-popup3" class="popup-content container mx-auto">
                <div class="section-par">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam corporis possimus natus! Nemo
                        laboriosam placeat, sapiente quo, dignissimos sequi expedita odit, quibusdam esse facere maxime
                        quod tenetur enim dolores qui. Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        Cupiditate culpa accusamus molestias nostrum incidunt tempora recusandae aperiam. At eius
                        cupiditate sunt, vel exercitationem quod quia! Repellendus sapiente repudiandae laudantium.
                        Nostrum! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio, dolor sit
                        accusamus laudantium exercitationem quos nam nostrum cum provident porro mollitia voluptate
                        libero officiis velit tempore delectus excepturi ea fugiat. Lorem, ipsum dolor sit amet
                        consectetur adipisicing elit. Perferendis minima facilis, quas, fugiat repellat aliquid rerum
                        distinctio corrupti unde inventore repellendus, autem facere minus soluta! Facilis nesciunt
                        necessitatibus quod rerum? Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos neque
                        reiciendis quis, asperiores dolore molestiae similique debitis nisi earum maxime dolor, quas
                        quia laborum, nam aliquid voluptate blanditiis laboriosam ratione? Lorem ipsum, dolor sit amet
                        consectetur adipisicing elit. Aperiam, molestiae? Cumque, temporibus? Nihil, delectus. Assumenda
                        et necessitatibus esse quam cupiditate laudantium, temporibus eos optio animi voluptate officia
                        hic illum a. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt beatae ad ipsa
                        recusandae iure quae, explicabo deserunt ipsum dolorem nostrum? Ipsum vel magnam veritatis nobis
                        soluta molestias assumenda quisquam mollitia! Lorem ipsum dolor sit, amet consectetur
                        adipisicing elit. Delectus adipisci tempore magni, ullam pariatur quo doloremque itaque expedita
                        ipsa commodi. Consequuntur est, expedita provident itaque odit vero ut minus fugiat! Lorem ipsum
                        dolor sit amet consectetur, adipisicing elit. Pariatur consectetur obcaecati atque voluptatum
                        debitis? Odio, harum veritatis inventore, vero neque expedita rem ipsam reprehenderit enim non,
                        corporis assumenda omnis consequuntur! Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Libero, dolorem. Modi alias enim aspernatur deleniti eum nihil placeat doloremque facere dolorem
                        at fugit perspiciatis aliquid, officia ad quis. Exercitationem, fuga. Lorem ipsum dolor sit amet
                        consectetur adipisicing elit. Sequi illo culpa modi facilis, tempora odio aperiam aliquam non
                        recusandae ipsa neque. Odio, nobis esse! Quibusdam sequi numquam nostrum quaerat rem! Lorem
                        ipsum dolor sit, amet consectetur adipisicing elit. Eligendi laboriosam tenetur beatae maiores
                        assumenda repellat a nemo alias unde accusamus, eaque corporis porro illo necessitatibus nihil
                        perspiciatis hic impedit iste! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni
                        nisi quibusdam consectetur eum praesentium nobis accusantium obcaecati. Tenetur hic velit quae
                        repellat nostrum quo tempora quaerat obcaecati delectus. Quae, natus! Lorem ipsum dolor sit amet
                        consectetur adipisicing elit. Perferendis, assumenda? Reiciendis modi omnis sunt labore numquam
                        reprehenderit, veniam expedita maxime deleniti eveniet, ab excepturi quam ipsam unde hic nisi
                        odit.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam corporis possimus natus! Nemo
                        laboriosam placeat, sapiente quo, dignissimos sequi expedita odit, quibusdam esse facere maxime
                        quod tenetur enim dolores qui. Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        Cupiditate culpa accusamus molestias nostrum incidunt tempora recusandae aperiam. At eius
                        cupiditate sunt, vel exercitationem quod quia! Repellendus sapiente repudiandae laudantium.
                        Nostrum! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio, dolor sit
                        accusamus laudantium exercitationem quos nam nostrum cum provident porro mollitia voluptate
                        libero officiis velit tempore delectus excepturi ea fugiat. Lorem, ipsum dolor sit amet
                        consectetur adipisicing elit. Perferendis minima facilis, quas, fugiat repellat aliquid rerum
                        distinctio corrupti unde inventore repellendus, autem facere minus soluta! Facilis nesciunt
                        necessitatibus quod rerum? Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos neque
                        reiciendis quis, asperiores dolore molestiae similique debitis nisi earum maxime dolor, quas
                        quia laborum, nam aliquid voluptate blanditiis laboriosam ratione? Lorem ipsum, dolor sit amet
                        consectetur adipisicing elit. Aperiam, molestiae? Cumque, temporibus? Nihil, delectus. Assumenda
                        et necessitatibus esse quam cupiditate laudantium, temporibus eos optio animi voluptate officia
                        hic illum a. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt beatae ad ipsa
                        recusandae iure quae, explicabo deserunt ipsum dolorem nostrum? Ipsum vel magnam veritatis nobis
                        soluta molestias assumenda quisquam mollitia! Lorem ipsum dolor sit, amet consectetur
                        adipisicing elit. Delectus adipisci tempore magni, ullam pariatur quo doloremque itaque expedita
                        ipsa commodi. Consequuntur est, expedita provident itaque odit vero ut minus fugiat! Lorem ipsum
                        dolor sit amet consectetur, adipisicing elit. Pariatur consectetur obcaecati atque voluptatum
                        debitis? Odio, harum veritatis inventore, vero neque expedita rem ipsam reprehenderit enim non,
                        corporis assumenda omnis consequuntur! Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Libero, dolorem. Modi alias enim aspernatur deleniti eum nihil placeat doloremque facere dolorem
                        at fugit perspiciatis aliquid, officia ad quis. Exercitationem, fuga. Lorem ipsum dolor sit amet
                        consectetur adipisicing elit. Sequi illo culpa modi facilis, tempora odio aperiam aliquam non
                        recusandae ipsa neque. Odio, nobis esse! Quibusdam sequi numquam nostrum quaerat rem! Lorem
                        ipsum dolor sit, amet consectetur adipisicing elit. Eligendi laboriosam tenetur beatae maiores
                        assumenda repellat a nemo alias unde accusamus, eaque corporis porro illo necessitatibus nihil
                        perspiciatis hic impedit iste! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni
                        nisi quibusdam consectetur eum praesentium nobis accusantium obcaecati. Tenetur hic velit quae
                        repellat nostrum quo tempora quaerat obcaecati delectus. Quae, natus! Lorem ipsum dolor sit amet
                        consectetur adipisicing elit. Perferendis, assumenda? Reiciendis modi omnis sunt labore numquam
                        reprehenderit, veniam expedita maxime deleniti eveniet, ab excepturi quam ipsam unde hic nisi
                        odit.
                    </p>
                </div>
                <div class="mt-10 mb-0">
                    <div class="text-center">
                        <a
                            class="btn btn-outline min-w-32 rounded-full"
                            onclick="projName.popup.close();event.preventDefault();"
                            href="#"
                            >Close</a
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footerscript %}
<script>
    // _lightbox class can be found in assets/js/utils folder
    document.querySelectorAll('[data-lightbox]').forEach((item) => {
        const _item = item;

        const _dataset = _item.dataset.lightbox.split(',s')
        const _modal = _dataset[0] === 'modal' ? true : false;

        _item.addEventListener('click', (e) => {
            e.preventDefault();

            new _lightbox({target: null, modal: _modal});
        });
    });
</script>
{% endblock %}