{% set pageTitle = 'Youtube player | Components' %}

{% extends 'layout.njk' %}

{% block content %}
<section class="section relative py-14 md:py-28 bg-slate-950 text-white">
    <div class="relative z-10 container w-[calc(100%-2rem)] mx-auto">
        <h1 class="text-5xl md:text-7xl">Youtube player</h1>
    </div>
    <div class="absolute top-0 left-0 w-full h-full bg-black overflow-hidden pointer-events-none">
        <div class="absolute top-0 left-0 w-full h-full bg-black overflow-hidden" data-yt-player="gPIfZ2Zrv5w" data-stretch muted></div>
        <div class="absolute top-0 left-0 w-full h-full bg-black bg-opacity-50"></div>
    </div>
</section>
<section class="section flex flex-col gap-10 py-14 md:py-28">
    <div class="container w-[calc(100%-2rem)] mx-auto">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
            <div class="flex flex-col gap-4">
                <div class="text-lg md:text-2xl">Standard</div>
                <div class="relative aspect-video bg-black" data-yt-player="23atch1EPLM"></div>
            </div>
            <div class="flex flex-col gap-4">
                <div class="text-lg md:text-2xl">Standard</div>
                <div class="relative aspect-video bg-black" data-yt-player="25QyCxVkXwQ"></div>
            </div>
            <div class="flex flex-col gap-4">
                <div class="text-lg md:text-2xl">Autoplay</div>
                <div class="relative aspect-video bg-black" data-yt-player="z9Ug-3qhrwY" muted>
                    <div class="z-10 absolute top-0 left-0 w-full h-full"></div>
                </div>
            </div>
            <div class="flex flex-col gap-4">
                <div class="text-lg md:text-2xl">Stretched: Square</div>
                <div class="relative aspect-square bg-black" data-yt-player="z9Ug-3qhrwY" data-stretch muted>
                    <div class="z-10 absolute top-0 left-0 w-full h-full"></div>
                </div>
            </div>
            <div class="flex flex-col gap-4">
                <div class="text-lg md:text-2xl">Stretched: Vertical</div>
                <div class="relative aspect-[9/16] bg-black" data-yt-player="z9Ug-3qhrwY" data-stretch muted>
                    <div class="z-10 absolute top-0 left-0 w-full h-full"></div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block footerscript %}
<script>
    // Requirements
        // JS
            // /assets/js/lib/flatpickr.js // (optional; for date & time picker)
            // /assets/js/lib/luxon.min.js // to get current date & time
            // /assets/js/utils/_countdown-timer.js // for countdown interval
            // /assets/js/utils/_rolling-number.js // for animated rolling number
        // CSS
            // /assets/scss/_flatpickr.min.scss (optional)
    
    document.querySelectorAll('[data-yt-player]').forEach((item) => {
        const _item = item;
        const _id = _item.dataset.ytPlayer ?? null;
        const _stretch = _item.hasAttribute('data-stretch') ?? false;
        const _muted = _item.hasAttribute('muted') ?? _item.hasAttribute('data-muted') ?? false;

        if(!_id) return;

        const _player = new _youtubePlayer({
            target: _item,
            id: _id,
            muted: _muted ? true : false,
            controls: _muted ? false : true,
            stretch: _stretch,
            events: {
                beforeInit: (instance) => {
                    // hide the loading state of muted vids
                    if(_muted) {
                        instance.el.player.style.transition = 'opacity 0.8s';
                        instance.el.player.style.opacity = 0;
                    }
                },
                onStateChange: (instance) => {
                    // show the muted vids after loading
                    if(_muted && instance.player.getPlayerState) {
                        if(instance.player.getPlayerState() === 1) instance.el.player.style.opacity = '';
                    }
                }
            }
        });
    });
</script>
{% endblock %}